<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Freundliche, helle Wohnung mit eigenem Eingang in der Nähe des Stadzentrums.">
    <meta name="keywords" content="Ferienwohnung,Hotel,Uekermann,Blumenstraße,Bad Bentheim,Bentheim,Emsland,Grafschaft,Emsland,Steinfurt,Borken,Niedersachsen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ferienwohnung Uekermann in Bad Bentheim</title>
    {% seo title:false %}
    <link href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {{ content }}
    </div>
  </body>
</html>
